networks:
  onlyoffice-net:
    name: onlyoffice-net
    driver: bridge

services:
  onlyoffice-connector:
    image: xingheliufang/onlyoffice-fnos:latest
    container_name: onlyoffice-connector
    networks:
      - onlyoffice-net
    restart: unless-stopped
    ports:
      - '9080:10099'
    command: ["--mode=server"]
    environment:
      - DOCUMENT_SERVER_URL=http://onlyoffice-doc-svr:80
      - DOCUMENT_SERVER_SECRET=${JWT_SECRET}
      - BASE_URL=http://onlyoffice-connector:10099
      - DOC_SERVER_PATH=/doc-svr
    volumes:
      - /vol00:/vol00
      - /vol1:/vol1
      - /vol2:/vol2
    labels:
      watchcow.enable: "true"
      watchcow.display_name: "onlyoffice-fnos"
      watchcow.editor.service_port: "9080"
      watchcow.editor.protocol: "http"
      watchcow.editor.path: "/editor"
      watchcow.editor.ui_type: "iframe"
      watchcow.editor.all_users: "true"
      watchcow.editor.title: "使用 OnlyOffice 打开"
      watchcow.editor.file_types: "docx,xlsx,pptx,doc,xls,ppt,odt,ods,odp,pdf,txt,rtf,csv,djvu,oxps,epub,fb2"
      watchcow.editor.icon: "file://onlyoffice.png"
      watchcow.editor.no_display: "true"
    depends_on:
      - onlyoffice-documentserver

  onlyoffice-documentserver:
    image: onlyoffice/documentserver:latest
    container_name: onlyoffice-doc-svr
    networks:
      - onlyoffice-net
    restart: unless-stopped
    stop_grace_period: 60s
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=${JWT_SECRET}
      - JWT_HEADER=Authorization
      - JWT_IN_BODY=true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/info/info.json"]
      interval: 30s
      retries: 5
      start_period: 60s
      timeout: 10s
    volumes:
      - ./volumes/data:/var/www/onlyoffice/Data
      - ./volumes/log:/var/log/onlyoffice
      - ./volumes/lib:/var/lib/onlyoffice
      - ./volumes/plugins:/var/www/onlyoffice/documentserver/sdkjs-plugins
      - ./volumes/fonts:/usr/share/fonts/truetype/custom
