name: Build fnOS Package

on:
  push:
    branches:
      - main
      - 'dev_*'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build FPK Package
        uses: tf4fun/fpk-compose-builder@main
        id: build
        with:
          input-dir: ./fpk_assets
          output-dir: ./dist

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: onlyoffice-connector-package
          path: ./dist/*.fpk
